# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Restore Renpy SDK Cache
        id: restore-cache
        uses: actions/cache@v3
        with:
          path: /home/runner/work/_temp/_github_home/renpy-8.1.3-sdk
          key: renpy-8.1.3-sdk

      - name: Build
        id: build
        uses: nyancatda/RenpyBuild@main
        with:
          sdk_version: '8.1.3'
          target_platform: win, mac, linux

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: renpy-artifacts
          path: ${{ steps.build.outputs.artifact_path }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: renpy-artifacts
          path: renpy-artifacts
